*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 18px;
  background-color: rgb(122, 115, 115);
}

h1{
  font-size: 70px;
  color: darkblue;
  margin-bottom: 5px;
}
h2{
  font-size: 45px;
  color: darkblue;
  margin-top: 0px;
  margin-bottom: 15px;
  margin-left: 10px;
  
  padding-top: 2px;
  padding-right: 8px;
  padding-bottom: 4px;
  padding-left: 8px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
p{
  text-align: left;
  line-height: 1.2;
  margin-bottom: 12px;
  margin-left: 12px;
  text-indent: 0px;
}
.subText{
  font-size: 14px;
  font-weight: bold;
  margin-left: 30px;
  margin-top: 2px;
  color: orangered
}



.navbar{
  background: rgb(99, 90, 90);
  padding-top: 30px;
  padding-left: 50px;
}
.controls{
  background: rgb(202, 195, 195);
  margin: 10px;
  padding:8px;
  position: relative;
}

.customization{
  position: absolute;
  width: 80%;
}
.canvas{
  background: rgb(202, 195, 195);
  margin: 10px;
  padding:8px;
  position: relative;
}

.textArea{
  max-width: 450px;
  max-height: 400px;
}
.inputArea{
  display: flex;
  text-align: center;
}
.console{
  background: rgb(202, 195, 195);
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 10px;
  border: 2px solid #262626;
  border-radius: 5px;
  z-index: 100;

  position: relative;
  max-width: 100vh;
  max-height: 100%;
  overflow: hidden;
}

.console.clicked{
  
  animation:
  moveUp 300ms ease-in 0s normal forwards,
  enlarge 200ms ease-in-out 300ms normal forwards;
}
.console.unclicked{
  animation:
  moveDown 500ms ease 0s normal forwards;
}
@keyframes moveUp {
  0% {
    background-color: red;
  }
  100% {
    position: absolute;
    z-index: 10;
    top: 40%;
    width: 50%;
    overflow: auto;
    transform: translate(0px, -300px);
  }
}
@keyframes enlarge {
  100% {
    height: 70%;
  }
}
@keyframes moveDown {
  100% {
    margin-bottom: 10px;
  }
}
@keyframes shrink {
  0% {
    height: 70%;
  }
  100% {
    height: 90%;
  }
}
.global-grid{
  height: 100vh;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: .25fr 1fr .25fr;
}

input[type=text]{
  width: 40px;
  margin-top: 10px;
  border: 0;
  padding: 5px;
}
#libChars{
  width: 250px;
  margin-top: 10px;
  border: 0;
  padding: 5px;
}
#libAreaNames{
  width: 250px;
  margin-top: 10px;
  border: 0;
  padding: 5px;
}

label{
  padding-left: 20px;
  font-weight: bold;
}

button{
  position: absolute;
  bottom: 10px;

  padding: 5px;
  
  left:40%;
  right:50%;
}
.navbar{
  grid-column: 1/3;
}
.controls{
  margin-left: 15%;
  overflow-x: hidden;
  overflow-y: auto;
}
.canvas{
  margin-right: 15%;
}
.console{
  grid-column: 1/3;
}
#consoleToggle{
  background-color: crimson;
  display: inline-block;
}
#consoleToggleWindow{
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -50;
  background-color:rgba(50,50,50,0.5);
}
#consoleToggleWindow.visible{
  z-index: 5;
}



.hidden{
  opacity: 0;
}
.visible{
  opacity: 1;
}
.remove{
  display: none;
}

/*#067BC2 #84BCDA #ECC30B #F37748 #D56062*/
/*#D7DEDC #CFCFCd #9A879D #7A3B69 #563440*/
/*#696D7D #6F9283 #8D9F87 #CDC6A5 #F0DCCA*/
/*#0A369D #4472CA #5E7CE2 #92B4F4 #CFDEE7*/
/*#D62839 #BA324f #175676 #4BA3C3 #CCE6F4*/
/*#638475 #90E39A #DDF093 #F6D0B1 #CE4760*/
/*#4C5454 #FF715B #FFFFFF #1EA896 #523F38*/
/*#2DE1FC #2AFC98 #09E85E #16C172 #214F4B*/
/*#201E1F #FF4000 #FAAA8D #FEEFDD #50B2C0*/
/*#BF4E30 #C6CCB2 #093824 #E5EAFA #78FECF*/
/*#E3C0D3 #95818D #576066 #2C514C #122932*/